@import "tailwindcss";

body{
    background-color: rgb(241,245,241);
}

@keyframes fade {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}
